
/* Circe */

@font-face {
    font-family: 'Circe-Regular';
    src: url('./fonts/circe/Circe-Regular.woff2') format('woff2'),
        url('./fonts/circe/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-ExtraBold';
    src: url('./fonts/circe/Circe-ExtraBold.woff2') format('woff2'),
        url('./fonts/circe/Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Bold';
    src: url('./fonts/circe/Circe-Bold.woff2') format('woff2'),
        url('./fonts/circe/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* bebas */

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('./fonts/bebas/BebasNeueBold.woff2') format('woff2'),
        url('./fonts/bebas/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('./fonts/bebas/BebasNeueRegular.woff2') format('woff2'),
        url('./fonts/bebas/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



